*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	font-family: 'Rancho', cursive;
	/*background-color: hsl(0, 0%, 94%);*/
	background: #424242;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	height: 270px;
	min-width: 250px;
	width: 470px;
	background: linear-gradient(45deg, #0c0200, #2f3131);
	box-shadow: rgb(0, 0, 0, 0.15) 0px 5px 15px 0px;
	position: relative;
	border-radius: 20px;
	padding-left: 20px;
	color: white;  
	transition: all 0.2s;
}

.card img{
	height: 370px;
	max-width: 100%;
	position: absolute;
	top: 30%;
	left: 70%;
	transform: translate(-50%, -50%);
	transition: 0.2s;
}

.card h2{
	margin-top: 20px;
	color: #e5aa1d;
	transition: 0.2s;
}

.card p, a{
	font-family: 'Source Sans Pro', sams-serif;
	transition: 0.2s;
	opacity: 0;
	
}

.card p{
	width: 200px;
	margin-bottom: 25px;
}

.card a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	background-color: yellow;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.card a:hover{
	color: black;
	background-color: white;
}

.card:hover img{
	left: 84%;
	top: 20%;
	height: 400px;
}

.card:hover h2{
	font-size: 40px;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.card:hover p,
.card:hover a{
	opacity: 1;
}

.Name{
			position: absolute;
			top: 70%;
			left: 35%;
			color: white;
		}